@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.index-body h2 {
  text-align: center;
}
.index-body .advertisements-section {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
}
@media screen and (max-width: 1024px) {
  .index-body .advertisements-section {
    margin-left: 2%;
    margin-right: 2%;
  }
}
.index-body .advertisements-section .advertisements-article {
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: white;
  width: 55%;
  padding: 1%;
  margin: 1%;
}
.index-body .advertisements-section .advertisements-article h3 {
  margin: 0%;
}
.index-body .advertisements-section .advertisements-article p {
  margin: 1%;
}
.index-body .advertisements-section .advertisements-article button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.index-body .advertisements-section .advertisements-article button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
@media screen and (max-width: 1024px) {
  .index-body .advertisements-section .advertisements-article {
    width: 100%;
    margin: 2%;
  }
}
.index-body .advertisements-section .advertisements-article .advertisements-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.index-body .advertisements-section .advertisements-article .advertisements-content .advertisements-ul {
  display: flex;
  padding-left: 0%;
}
@media screen and (max-width: 1024px) {
  .index-body .advertisements-section .advertisements-article .advertisements-content .advertisements-ul {
    flex-wrap: wrap;
  }
}
.index-body .advertisements-section .advertisements-article .advertisements-content li {
  padding-right: 5%;
}
.index-body .advertisements-section .advertisements-article #collapse-content ul {
  padding-left: 0%;
  padding-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.index-body .advertisements-section .advertisements-article #collapse-content ul #liInfo {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.index-body .advertisements-section .advertisements-article #collapse-content ul #liInfo:hover {
  background-color: black;
  color: white;
}
.index-body .advertisements-section .advertisements-article #collapse-content ul li {
  padding-right: 5%;
  padding: 2%;
  margin: 1%;
}
.index-body .advertisements-section .advertisements-article #collapse-content p {
  text-align: center;
}
.index-body .advertisements-section :hover {
  background-color: white;
}
.index-body .advertisements-section #button-submit {
  display: block;
  margin: 0 auto;
}
.index-body form {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 3%;
  border-radius: 15px;
  border: 1px solid black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 0 auto;
  background-color: white;
  z-index: 999;
}
.index-body form #submit-form {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 3%;
  border-radius: 10px;
  margin: 10px auto;
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
.index-body form div {
  padding: 5%;
}
.index-body form div input {
  border-radius: 5px;
  margin-top: 1%;
  width: 100%;
  flex-wrap: wrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.index-body form div textarea {
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 3%;
}
header nav {
  width: 13%;
}
header nav ul {
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  padding-right: 1%;
}
header nav ul li:hover {
  text-decoration: underline;
}
header .logo {
  width: 7%;
}
@media screen and (max-width: 480px) {
  header .logo {
    width: 20%;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  header .logo {
    width: 15%;
  }
}

.wave-header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

footer {
  position: relative;
  bottom: 0%;
  width: 100%;
  font-size: 20px;
  text-decoration-color: white;
  font-weight: bold;
  padding-bottom: 20px;
}
footer ul {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
}
footer ul li {
  text-decoration: underline;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1000;
}

@media screen and (max-width: 480px) {
  footer {
    font-size: 10px;
  }
  footer .footer {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  footer {
    font-size: 15px;
  }
  footer .footer {
    padding-bottom: 15px;
  }
}
.admin {
  min-height: 100vh;
}
.admin .nav-admin {
  width: 25%;
}
.admin .button {
  align-items: center;
  border-style: none;
  height: 40px;
  padding: 6px 12px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.6s ease;
}
.admin .button.blue {
  background-color: black;
  padding: 5px 10px;
  border-radius: 25px 25px;
}
.admin button.green {
  background-color: #13ce66;
  padding: 5px 10px;
  border-radius: 25px 25px;
}
.admin button.red {
  background-color: #ff4949;
  padding: 5px 10px;
  border-radius: 25px 25px;
}
.admin .button:hover {
  box-shadow: inset 200px 0 0 rgba(0, 0, 0, 0.3333333333);
}
@media (max-width: 480px) {
  .admin .button.mobile {
    color: transparent;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 90vh;
    left: 80vw;
  }
  .admin .button.mobile::before {
    content: "+";
    color: black;
    font-size: 2rem;
    width: 100%;
    height: 100%;
  }
}
.admin :root {
  --primary-color: black;
  --secundary-color: rgb(245, 237, 237);
  --shadow-color: #ccc;
  --text-color: #fff;
}
.admin .header-title {
  color: white;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}
.admin main {
  flex-grow: 1;
  padding: 2%;
  box-shadow: 2px 2px 10px var(--shadow-color);
  gap: 20px;
}
.admin main .div-button {
  padding: 0%;
  margin-top: 3%;
  text-align: center;
}
@media (max-width: 480px) {
  .admin header {
    position: fixed;
    width: 100%;
  }
  .admin .header-title {
    font-size: 1.5rem;
  }
  .admin main {
    padding: 0;
    margin: 20px 0 0 0;
    width: 100%;
    box-shadow: none;
  }
  .admin main .div-button {
    width: 100%;
  }
  .admin main .div-button button {
    align-items: center;
  }
}
.admin .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5647058824);
  opacity: 0;
  z-index: -1;
  color: white;
}
.admin .modal.active {
  opacity: 1;
  z-index: 1;
}
.admin .modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50vw;
  margin: 15vh auto;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 1px 1px 10px black;
}
.admin .modal-header {
  display: flex;
  position: relative;
  justify-content: center;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
}
.admin .modal-close {
  position: absolute;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.admin .modal-close:hover {
  background-color: #ff4949;
  color: white;
}
.admin .modal-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}
.admin .modal-field {
  width: calc(50% - 10px);
  height: 40px;
  outline-style: none;
  border-style: none;
  box-shadow: 0 0 2px black;
  padding: 0 10px;
  font-size: 1rem;
}
.admin .modal-field:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 3px var(--primary-color);
}
.admin .modal-footer {
  background-color: inherit;
  text-align: right;
  padding: 0 20px;
}
@media (max-width: 480px) {
  .admin .modal {
    top: 100%;
    transition: all 1s ease;
  }
  .admin .modal.active {
    top: 0;
  }
  .admin .modal-content {
    margin: 0;
    width: 100%;
    position: fixed;
  }
  .admin .modal-field {
    width: 100%;
  }
}
.admin .records {
  border: 1px solid white;
  width: 100%;
  user-select: none;
  text-align: left;
  color: white;
}
.admin .records th {
  border: 1px solid white;
  height: 50px;
  background-color: var(--primary-color);
  padding-left: 20px;
  font-size: 1.2rem;
}
.admin .records td {
  border: 1px solid white;
  height: 50px;
  padding-left: 20px;
  color: white;
}
.admin .records th:last-child,
.admin .records td:last-child {
  padding: 0;
  text-align: center;
}
.admin .records tr:hover {
  background-color: var(--secundary-color);
}
@media (max-width: 480px) {
  .admin .records {
    border-spacing: 5px;
  }
  .admin .records thead {
    display: none;
  }
  .admin .records tr {
    box-shadow: 0 1px 3px var(--shadow-color);
  }
  .admin .records td:not(:first-child) {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .admin .records td {
    margin: 10px 0;
  }
  .admin .records tr:hover {
    background-color: inherit;
  }
}

.edit {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.edit .container {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
}
.edit .container h1 {
  margin: 10px 5px;
}
.edit .container form {
  text-align: center;
}
.edit .container label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.edit .container input {
  padding: 1%;
  margin-top: 1%;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  width: 90%;
  color: white;
}
.edit .container button {
  width: 75%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  font-weight: 500;
  margin: 3%;
}
.edit .container button:hover {
  background-color: grey;
  color: white;
}
.edit .container .input-box input {
  height: 50px;
  background: transparent;
  border: 1px solid white;
  outline: none;
  font-size: 16px;
  padding: 0 5px;
  border-radius: 20px;
}
.edit .container a {
  color: white;
}
.edit .container footer {
  margin-top: auto;
}
.edit .div-a {
  margin: 5%;
}
.edit .div-a a:hover {
  text-decoration: underline;
}

body,
html {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

body {
  color: white;
  font-family: Roboto;
  background-image: url("https://i.pinimg.com/originals/9a/5c/13/9a5c13a408179dbf4e6ccd8ae55d6248.jpg");
}
body li {
  list-style-type: none;
}
body a {
  text-decoration: none;
  color: white;
}
body h1,
body h2,
body h3 {
  font-family: raleway;
}

/*# sourceMappingURL=style.css.map */
