h2 {
  text-align: center;
}
.advertisements-section {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  .advertisements-article {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 28%;
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    h3 {
      margin: 0%;
    }
    p {
      margin: 1%;
    }
    @media screen and (max-width: 1024px) {
      width: 45%;
    }
    @media screen and (max-width: 724px) {
      width: 100%;
      margin: 1%;
    }

    :hover {
      text-decoration: underline;
    }
  }
}
