.main-content {
  margin: 2%;
  display: flex;
  justify-content: space-between;
  .advertisements-section {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    :hover {
      text-decoration: underline;
    }
    .advertisements-title {
      background-color: $tertiary-color;
      width: 100%;
      border: 1px solid black;
      h2 {
        padding: 1%;
      }
    }

    .advertisements-article {
      border-radius: 15px;
      margin: 1%;
      padding: 1%;
      border: 1px solid black;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      width: 100%;
    }
  }
  .my-candidate {
    background-color: white;
    .my-candidate-article {
      padding: 2%;
    }

    .my-candidate-title {
      background-color: $tertiary-color;
      width: 100%;
      padding-top: 1%;
      padding-bottom: 1%;
    }
    h2 {
      padding: 1%;
    }
  }
}
