h2 {
  text-align: center;
}
.advertisements-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
  @media screen and (max-width: 1024px) {
    margin-left: 2%;
    margin-right: 2%;
  }
  .advertisements-article {
    position: relative;
    @include myBorderShadow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
    width: 55%;
    padding: 1%;
    margin: 1%;

    h3 {
      margin: 0%;
    }
    p {
      margin: 1%;
    }
    button {
      @include myBorderShadow;
      padding: 2%;
      border: 1px solid black;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    button:hover {
      cursor: pointer;
      background-color: black;
      color: $primary-color;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin: 2%;
    }

    .advertisements-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .advertisements-ul {
        display: flex;
        padding-left: 0%;
        @media screen and (max-width: 1024px) {
          flex-wrap: wrap;
        }
      }
      li {
        padding-right: 5%;
      }
    }

    #collapse-content {
      ul {
        padding-bottom: 3%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        #liInfo {
          @include myBorderShadow;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
        }
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        #liInfo:hover {
          background-color: black;
          color: $primary-color;
        }
        li {
          padding-right: 5%;
          padding: 2%;
          margin: 1%;
        }
      }
      p {
        text-align: center;
      }
    }
  }
  :hover {
    background-color: $primary-color;
  }
  #button-submit {
    display: block;
    margin: 0 auto;
  }
}
form {
  @include myBorderShadow;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 3%;
  border-radius: 15px;
  border: 1px solid black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 0 auto;
  background-color: white;
  z-index: 999;
  .center-button {
    @include myBorderShadow;
    margin: 10px auto; /* Centrer le bouton horizontalement */
    display: block;
  }
  div {
    padding: 5%;
    display: flex;
    flex-direction: column;
    input {
      border-radius: 5px;
      margin-top: 1%;
      width: 100%;
      flex-wrap: wrap;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    textarea {
      width: 100%;
    }
  }
}
