@import "./Directory/utils/variables.scss";
@import "./Directory/utils/mixin.scss";
@import "./Directory/pages/home.scss";
@import "./Directory/layout/header.scss";
@import "./Directory/layout/footer.scss";

body,
html {
  margin: 0%;
  width: 100%;
}
body {
  margin-bottom: 3%;
  background-color: $primary-color;
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}
