.header {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}

.logo {
  width: 5%;
}

.navbar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: grey;
}


@media screen and (max-width: 480px) {
  .logo {
    width: 20%;
  }
}

@media screen and (min-width: 481px)  and (max-width: 980px) {
  .logo {
    width: 15%;
  }
}